<%= simple_form_for @gif, html: { class: "form-horizontal", :multipart => true } do |f| %>
  <%= f.error_notification %>
  <%= f.input :caption, :class=>"btn" %>
  <br /><br />
  <label>Click the Browse button to upload a gif from your computer</label>
  <%= f.file_field :avatar %>
  <br /><br />
  <div class="form-actions">
    <%= f.button :submit, :class=>"btn" %>
  </div>
<% end %>
