<div class="col-md-12">
  <p class="text-right"><%= link_to 'New Gif', new_gif_path %></p>

  <legend>Tags <%= @taglist.count %></legend>
  <ul>
    <% Gif.tag_counts.each do |tag| %>
      <li><%= link_to tag.name + " (" + tag.count.to_s + ")", tag_path(tag.name) %></li>
    <% end %>
  </ul>
 
  <p><%#= raw @tagslist.map { |t| link_to t, tag_path(t.name) }.join(', ') %></p> 
  

  <legend>Listing gifs <%= @gifs.count %></legend>

  <table class="table">
    <thead>
      <tr>
        <th>Caption</th>
        <th>Thumbnail</th>        
        <th>Upvotes</th>
        <th>Downvotes</th>
        <th>Views</th>
        <th>Ratio</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @gifs.each do |gif| %>
        <tr>
          <td>
            <%= gif.caption %><br />
            <% if gif.approved == true %>
              <span class="text-success">Approved</span>
            <% else %>
              <span class="text-danger">Not approved</span>
            <% end %>

          </td>
          <td><%= image_tag gif.avatar.url(:thumb) %></td>
          <td><%= gif.upvotes %></td>
          <td><%= gif.downvotes %></td>
          <td><%= gif.views %></td>
          <td>
            <% if gif.ratio %>
              <%= gif.ratio.round(2) %>
            <% end %>
          </td>
          <td><%= link_to 'Show', gif %></td>
          <td><%= link_to 'Edit', edit_gif_path(gif) %></td>
          <td><%= link_to 'Destroy', gif, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>


<h1></h1>



<br>

