<div class="col-md-6 col-md-offset-3">
  <p class="text-right"><%= link_to 'New Gif', new_gif_path %></p>
  

  <legend>Listing gifs <%= @gifs.count %></legend>
  <%= session[:gifdex] %>

  <table class="table">
    <thead>
      <tr>
        <th>Caption</th>
        <th>Thumbnail</th>        
        <th>Upvotes</th>
        <th>Downvotes</th>
        <th>Views</th>
        <th>Ratio</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @gifs.each do |gif| %>
        <tr>
          <td><%= gif.caption %></td>
          <td><%= image_tag gif.avatar.url(:thumb) %></td>
          <td><%= gif.upvotes %></td>
          <td><%= gif.downvotes %></td>
          <td><%= gif.views %></td>
          <td><%= gif.ratio %></td>
          <td><%= link_to 'Show', gif %></td>
          <td><%= link_to 'Edit', edit_gif_path(gif) %></td>
          <td><%= link_to 'Destroy', gif, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>


<h1></h1>



<br>

