<div class="col-md-6 col-md-offset-3">
  <p class="text-right">
    <%= link_to 'Edit', edit_gif_path(@gif) %> |
    <%= link_to 'Back', gifs_path %>
  </p>

  <%= session[:gifdex] %>

  
  <p id="notice"><%= notice %></p>

  <h3><%= @gif.caption %></h3>
  <%= image_tag @gif.avatar.url %>
  <br /><br />
  <p id="next_buttons">
    <% if @gif.id != session[:gifdex][-1]  %>

        <%= link_to raw("<strong>Next</strong><br />this was awesome"), gif_path(@next_gif, :upvote => "true", :gif_id => @gif.id ), :"data-upvote" => "true", :class => "next_btn btn btn-large btn-success", :style=> "width: 40%; display: inline-block;" %>

        <%= link_to raw("<strong>Next</strong><br />this was meh"), gif_path(@next_gif, :upvote => "false", :gif_id => @gif.id), :"data-upvote" => "true", :class => "next_btn btn btn-large btn-warning", :style=> "width: 40%; display: inline-block;" %>

    <% else %>
      <p>
        That's all folks.
        <br />Please help support the site and hit the like button.
      </p>
    <% end %>
  </p>


  <%#= image_tag @gif.avatar.url, width: '100' %>

  <%#= image_tag @gif.avatar.url(:thumb) %>



</div>

<div class="col-md-3" style="display:none;">
  <p>
    <strong>Upvotes:</strong>
    <%= @gif.upvotes %>
  </p>

  <p>Tags: <%= @gif.tag_list %></p>

  <p>Tags: <%= raw @gif.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>


  <p>
    <strong>Downvotes:</strong>
    <%= @gif.downvotes %>
  </p>

  <p>
    <strong>Views:</strong>
    <%= @gif.views %>
  </p>

  <p>
    <strong>Ratio:</strong>
    <%= @gif.ratio.round(2) %>
  </p>

</div>



