<div class="col-md-6 col-md-offset-3" style="margin-top: 40px">
  
  <%= render 'layouts/navigation' %>


  <% if @gif.deleted == true %>
    <div class="alert alert-danger">This page has been deleted by the moderator</div>
  <% else %>
    <div class="panel panel-default">
      <div class="gif_panel  panel-body" style="width: <%= @gif.avatar.width + 30 %>px" >
        <h3><%= @gif.caption %></h3><br/>
        <%= image_tag @gif.avatar.url %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="gif_panel gif_button_panel panel-body" style="width: <%= @gif.avatar.width + 30 %>px" >
        <p id="next_buttons">
          <% if @next_gif != nil  %>
            <%= link_to raw("<span class='glyphicon glyphicon-circle-arrow-right'></span> Meh"), gif_path(@next_gif, :upvote => "false", :gif_id => @gif.id), :"data-upvote" => "true", :class => "next_btn btn btn-lg btn-warning", :style=> "width: 47%; display: inline-block; " %>

            <%= link_to raw("<span class='glyphicon glyphicon-circle-arrow-right'></span> Awesome"), gif_path(@next_gif, :upvote => "true", :gif_id => @gif.id ), :"data-upvote" => "true", :class => "next_btn btn btn-lg btn-success", :style=> "width: 47%; display: inline-block; float: right;" %>

          <% else %>
            <p>
              That's all folks.
              <br />Please help support the site and hit the like button.
            </p>
          <% end %>
        </p>
      </div>
    </div>


  <% end %>
</div>





