<% content_for :head do %>
  <meta property="og:image" content="<%= @gif.avatar.url %>" />
  <meta property="og:title" content="Click to see this animated gif"/>
  <meta property="og:description" content="Gifutu find the funniest, most intresting and cutest gifs from across the web." id="meta_description"/>
  <meta property="og:site_name" content="gifutu.com"/>
  <meta property="og:url" content="http://gifutu.com/gifs/avatars/<%= @gif.id %>"/>
  <meta property="fb:admins" content="544037526"/>
  <meta property="og:type" content="website"/>
  <meta property="fb:app_id" content="1422747647944239"/>
  
  <title>Gifutu - <%= @gif.description %></title>
  <meta name="Description" content="Gifutu - Some Dammend Fine Gifs.  Gifutu recommends the best gifs based on your tastes.">
  <meta name="keywords" content="<%= @gif.description %>">
<% end %>

<div class="col-md-12">
  


  <% if @gif.deleted == true %>
    <div class="alert alert-danger">This page has been deleted by the moderator</div>
  <% else %>
    <div class="panel panel-default">
      <div class="gif_panel  panel-body" style="width: <%= @gif.avatar.width %>px" >
        <h3 class="caption"><%= @gif.caption %></h3><br/>
        <%= image_tag @gif.avatar.url%>
      </div>
    </div>

    <div class="panel panel-default" style="margin-bottom: 0px;" >
      <div class="gif_panel gif_button_panel panel-body" style="width: <%= @gif.avatar.width + 30 %>px" >
        <p id="next_buttons">
          <% if @next_gif != nil  %>
            <%= link_to raw("<span class='glyphicon glyphicon-circle-arrow-right'></span> Meh"), gif_path(@next_gif, :v => "false", :gif_id => @gif.id), :"data-upvote" => "true", :class => "next_btn btn btn-lg btn-warning downvote", :style=> "width: 47%; display: inline-block; " %>

            <%= link_to raw("<span class='glyphicon glyphicon-circle-arrow-right'></span> Awesome"), gif_path(@next_gif, :v => "true", :gif_id => @gif.id ), :"data-upvote" => "true", :class => "next_btn btn btn-lg btn-success upvote", :style=> "width: 47%; display: inline-block; float: right;" %>

          <% else %>
            <p>
              That's all folks.
              <br />Please help support the site and hit the like button.
            </p>
          <% end %>
        </p>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="gif_panel facebook_panel panel-body" style="width: <%= @gif.avatar.width + 35 %>px" >
        <div class="fb-like" data-href="https://www.facebook.com/pages/Gifutu/345073592295455" data-width="240" data-height="The pixel height of the plugin" data-colorscheme="dark" data-layout="standard" data-action="like" data-show-faces="true" data-send="true"></div>
      </div>
    </div>






  <% end %>
</div>





